@mixin apCentral{
  // -----------------------------Landing page style------------------------------------------
  .pageHeadingCls{
    font-size: 22px;
    color: #649b02;
    border-bottom: 3px double #1d5a8a;
    margin-bottom: 10px;
    padding:10px;
    font-weight: bold;
  }
}