@mixin apCentral{
  // -----------------------------Landing page style------------------------------------------
  .pageHeadingCls{
    font-size: 22px;
    color: #649b02;
    border-bottom: 1px solid #649b02;
    margin-bottom: 10px;
    padding:10px;
    font-weight: bold;
    background:rgba(100, 155, 2, 0.2);
  }
}