@mixin icons{

  @include icon-font('icomoon', inline-font-files(
  'icon/icomoon.woff', woff,
  'icon/icomoon.ttf', truetype,
  'icon/icomoon.svg', svg
  ));

  .loginIcon, .scheduleIcon, .speakerIcon, .sponsorIcon, .mapIcon, .infoIcon, .faceBookIcon, .twitterIcon{
    font-family: 'icomoon';
    span{
      font-size: 1em;
      position: relative;
      top: -8px;
    }
  }
  
  .loginIcon:before, .scheduleIcon:before, .speakerIcon:before, .sponsorIcon:before, .mapIcon:before, .infoIcon:before, 
  .faceBookIcon:before, .twitterIcon:before{
    padding-right: 10px;
    color:#fff;
    font-size: 1.6em;
  }
  .loginIcon:before{
    content: "\e605";
  }
  .scheduleIcon:before{
    content: "\e603";
  }
  .speakerIcon:before{
    content: "\e600";
  }
  .sponsorIcon:before{
    content: "\e609";
  }
  .mapIcon:before{
    content: "\e601";
  }
  .infoIcon:before{
    content: "\e607";
  }
  .faceBookIcon:before{
    content: "\e60a";
  }
  .twitterIcon:before{
    content: "\e60b";
  }
  .raterNavListCls{
    color:#fff;
    font-size: 1em;
  }
  
  // Tab icons
  
  
  .faceBookTabIcon:before{
    content: "\e60a";
  }
  .twitterTabIcon:before{
    content: "\e60b";
  }
  .infoTabIcon:before{
    content: "\e607";
  }
 
  
}